.button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--space-1_5);
  border-radius: var(--space-1_5);
  background: transparent;
  padding: 0;
  font-size: var(--text-sm);
  font-weight: var(--font-normal);
  color: var(--text)
}

/* VARIANT */
.button--primary {
  background: var(--primary);
  color: white;
}

.button--secondary {
  color: var(--primary);
}

.button--outline {
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* SIZE */
.button--sm {
  padding: var(--space-1) var(--space-1_5);
  font-size: var(--text-sm);
}

.button--md {
  padding: var(--space-1_5) var(--space-2);
  font-size: var(--text-md);
}

.button--lg {
  padding: var(--space-2) var(--space-2_5);
  font-size: var(--text-lg);
}

/* DISABLED */
.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}