:root {
  /* TEXT */
  --text: var(--color-gray-900);
  --text-secondary: var(--color-gray-600);
  --text-tertiary: var(--color-gray-400);
  --text-muted: var(--color-gray-300);

  /* BACKGROUND */
  --bg: var(--color-white);
  --bg-subtle: #f7f7f8;
  --bg-secondary: var(--color-gray-100);
  --bg-tertiary: var(--color-gray-200);

  /* BORDER */
  --border: var(--color-gray-200);

  /* BRAND */
  --primary: var(--color-blue-600);
}


[data-theme="dark"] {
  /* TEXT */
  --text: var(--color-gray-50);
  --text-secondary: var(--color-gray-300);
  --text-tertiary: var(--color-gray-400);
  --text-muted: var(--color-gray-500);

  /* BACKGROUND */
  --bg: #020617;
  --bg-subtle: #111827;
  --bg-secondary: var(--color-gray-800);
  --bg-tertiary: var(--color-gray-600);

  /* BORDER */
  --border: var(--color-gray-700);

  /* BRAND */
  --primary: var(--color-blue-400);
}
