.toggle {
  width: 45px;
  height: 20px;
  background: var(--primary);
  border-radius: var(--space-5);
  position: relative;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  padding: 0 var(--space-1);
}

.toggle__circle {
  width: 18px;
  height: 18px;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.2s;
}

.toggle__circle--active {
  left: 26px;
}

.toggle__thumb {
  display: flex;
  width: 100%;
  align-items: center;
}

.toggle__icon {
  width: 13px;
  height: 13px;
}

/* ICONS */
.toggle__icon--light {
    margin-left: auto;
    color: var(--yellow-500);
}

.toggle__icon--dark {
    margin-left: 0;
    color: var(--yellow-500);
}